* {box-sizing: border-box;}

:root {
  --dark-black:#222;
  --ft-color:#444;
  --ft-sub:#666;
  --ft-white:#f1f1f1;
  --point-color:#ffdd57;
  --point-rgb-color:rgba(255,221,87,0.8);
  --point2:#f5c72f;
  --sub-green:#2b462a;
  --gray:#e3e3e3;
  --border:#e3e3e3;
  --bg-right-gray:#f4f4f4;
  --bg-point:#1b1c12;
  --button-bg:#b3a987;
/* ffd752 */
  --max-width:1000px;
  --box_shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  --opacity-white-line: rgba(255,255,255,0.15);

}
/* ; point-color */
/* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
/* transparent 투명 */
/* ackground:url('images/dot-bg.png') no-repeat center/cover;  */

/*
box-shadow 바네팅
box-shadow: inset 120px 100px 250px $color,
inset -120px -100px 250px $color;
inset 20px 20px 70px #000, inset -20px -20px 70px #000
*/

/*   <div class="section_heading">
    <h3 class="point eng_heading">contact</h3>
    <h2>상담 하기</h2>
    <p>빠르게 안내드리도록 하겠습니다</p>
  </div> */


/* my_tag_acutomDefault */
body {letter-spacing: 1px;}
body, span,span a,a { font-family: 'Nanum Gothic', sans-serif; line-height: 1.5; font-size: 16px; color:var(--ft-color); text-decoration: none;}
h1,h2,h3,h4,h5,h6 { font-family: 'NanumSquare', sans-serif !important; font-weight: bold; color:var(--dark-black); line-height: 1.4;}
button {background: none; cursor: pointer;}
p {line-height: 1.8; color:var(--ft-sub);}
strong{font-weight: 600;}
input:focus { border-bottom: 3px solid var(--point-rgb-color) !important;}
input[type="text"] { border:none; outline: none; border-bottom: 3px solid var(--gray); background-color: transparent; width: 180px;}
checkbox {margin: 10px;}
checkbox span {margin-left: 10px;}
textarea:focus {border-color: var(--point-rgb-color);}
body::-webkit-scrollbar,div::-webkit-scrollbar {width: 1em;}
body::-webkit-scrollbar-track,div::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);}
body::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb { background-color: var(--point2); outline: 1px solid slategrey;}
/* my_tag_acutomDefault */

/* ********* layout *********** */
:root { --lay-margin:15px; --lay-margin2:-15px; --lay-height: 260px; }
/* 음수 마진 레이아웃 2칸짤 (컨테이너 필요)*/
.wide_width {}
div.layout_cover2 ,ul.layout_cover2 {overflow: hidden; margin: 0 var(--lay-margin2);}
div.layout_cover2 > div,ul.layout_cover2 li {width: 50%; float: left; padding: var(--lay-margin);}
div.layout_cover2 > div,ul.layout_cover2 li {}
/* 음수 마진 레이아웃 3칸짤 (컨테이너 필요)*/
.wide_width {}
div.layout_cover3,ul.layout_cover3 {overflow: hidden; margin: 0 var(--lay-margin2);}
div.layout_cover3 > div,ul.layout_cover3 li {width: 33.33333%; float: left; padding: var(--lay-margin);}
div.layout_cover3 > div,ul.layout_cover3 li {}
/* 음수 마진 레이아웃 4칸짤 (컨테이너 필요)*/
.wide_width {}
div.layout_cover4,ul.layout_cover4 {overflow: hidden; margin: 0 var(--lay-margin2);}
div.layout_cover4 > div,ul.layout_cover4 li {width: 25%; float: left; padding: var(--lay-margin);}
div.layout_cover4 > div,ul.layout_cover4 li {}
@media (max-width:900px) {
div.layout_cover2,div.layout_cover3,div.layout_cover4,ul.layout_cover2,ul.layout_cover3,ul.layout_cover4
{margin: 0; padding: 0 5%;}
div.layout_cover2 > div,div.layout_cover3 > div,div.layout_cover4 > div
ul.layout_cover2 li,ul.layout_cover3 li,ul.layout_cover4 li
 {float: none; width: 100%; margin-bottom: 3%;}
}
/********** layour ************/

.hidden {display: none;}
/* main line effects */
.line_down{position: relative; z-index: 50;}
.line_down:after {content: ''; position: absolute; bottom:0; width: 100%; height: 6px; background-color: var(--point-color); z-index: -1; left:0; transition: 0.3s ease;  z-index: -1; bottom: 50%; transform: translateY(50%);}
.line_down:hover:after{padding: 10px 0;}
.skew_line {position: relative;}
.skew_line:after {content: ''; position: absolute; right:-30px; top: 25px; width: 80%; height:90%; border: 4px solid var(--point-rgb-color); z-index: -1; /*transform: skew(0deg, 3deg);*/ transition: .3s; z-index: 10; left:50%; transform: translateX(-50%);}

.border_box { width: 100%; height: 130px; border: 1px solid var(--border); border-radius: 8px; transition: .3s;}
.border_box:hover {border: 1px solid var(--point2);}

.point  { color:var(--point-color); font-weight: bold;}
.point_green {color:var(--sub-green) !important; font-size: inherit;}

.nanum_sq { font-family: 'NanumSquare', sans-serif; }
.nanum_gd {font-family: 'Nanum Gothic', sans-serif;}
.ft_right {text-align: right!important}
.ft_left {text-align: left!important}
.ft_center {text-align: center !important;}
.tit_hidden {text-indent: -9999px; position: absolute; width: 0; height: 0}
.eng_heading  {font-family: 'Patua One' !important; color:var(--point-color) !important;}
.layout_arrow {position: absolute; width: 100px; height: 100px; background:#ffd752; right:0; top:50%; transform: translateX(50%); transform: rotateZ(-45deg);}
.red_tag {background-color: #ff3860; font-size: 12px; border-radius: 4px; display: inline; padding: 3px 9px; color:var(--bg-right-gray);}
.blue_tag {background-color: #209cee; font-size: 12px; border-radius: 4px; display: inline; padding: 3px 9px; color:var(--bg-right-gray);}
.placeholder {display: table; height: 100%; width: 100%; background-color: #f4f4f4;}
.placeholder .placeholder_txt {display: table-cell; vertical-align: middle; text-align: center; font-weight: bold; color: #999; text-transform: uppercase; font-family: 'Patua One';}
.partner_line,hr { border:  1px solid #eee;margin-bottom: 30px;}

/* absole line */
.absole_line_v {position: relative;}
.absole_line_v:after {content:''; width: 2px; height: 100%; background-color: var(--point-color); position: absolute; top:0}
.absole_line_v.left_v:after {left: -8px;}
.absole_line_v.right_v:after {right:-8px;}
.absole_line_h {position: relative;}
.absole_line_h:after {content:''; width: 100%; height: 2px; background-color: var(--point-color); position: absolute; left:50%; transform: translate(-50%); z-index: 3;}
.absole_line_h.bottom_h:after {bottom: -8px;}

/* imag tag */
.img_tag {position: absolute;  z-index: 1; white-space: nowrap; padding: 1rem; background:#fff; font-weight: 400; text-align: center;}
.img_tag.right { right:0; bottom:0;}
.img_tag.left {left:0; bottom:0}
.img_tag.leftT {left:0; top:0;}
.img_tag.rightT {right:0; top:0}
.img_tag.wide {width: 100%; left:0;}

.big_pd {padding: 100px 0;}
.wide_width {max-width: 1000px; margin: 0 auto;}
.margin_width {max-width: 1000px; margin: 0 auto; box-sizing: content-box; }

/* section_heading */
.section_heading  {text-align: center; padding: 40px 0 80px 0; position: relative;}
.section_heading h2,.section_tit { font-size: 40px; margin: 30px 0 20px 0; line-height: 1.4;}
.section_heading p  {max-width: 400px; margin: 0 auto;}

/* heading */
.small_heading {}
.small_heading h2{ position: relative; padding: 30px 0; font-size: 32px;}
.small_heading h3 {color: var(--point-color); font-weight: bold; font-family: 'Patua One' !important;  font-size: 22px;}

/* sub_heading */
.sub_heading {text-align: center; font-size: 25px; color: var(--point-color); margin-bottom: 80px;}
.sub_heading h2 {color: var(--ft-color); font-weight:400;}
.sub_heading h2 .sub_heading_point {font-size: inherit; color:var(--point2);}

/* 말풍선 */
.promise_sentence {text-align: center; font-size: 25px; position: relative;}
.promise_sentence p {display: inline-block; padding: 0 30px; margin: 0 15px; position: relative; letter-spacing: 1px;}
.promise_sentence p:after,.promise_sentence p:before {font-size: 50px; font-weight: bold; position: absolute; color: var(--point-color); top:0; line-height: 1;}
.promise_sentence p:after {content: "`"; left: 0;}
.promise_sentence p:before {content: "`"; right:0px;}

/* btns */
button {border:none;}
.point_btn { display: inline-block; padding: 15px 50px; background-color: var(--sub-green); color: var(--ft-white)!important; border-radius: 40px; transition: 0.3s; }
.point_btn.small {  padding: 10px 35px; }
.point_btn:hover {background-color: var(--point-color);}
.point_btn.big {font-size: 20px; font-weight: bold; letter-spacing: 2.5px;}
.border_btn {display: inline-block; padding: 10px 35px; border-radius: 40px; border: 3px solid var(--sub-green); color:var(--sub-green); font-weight: bold; transition: .3s; text-transform: uppercase; font-size: 14px; margin-top: 10px;}
.border_btn:hover {background-color: var(--sub-green); color: var(--ft-white);}

/* globar_input */
.kboard-attr-row,.input_row {box-sizing: border-box; padding-bottom: 25px; overflow: hidden;}
.kboard-attr-row label.attr_name,.input_row label,label { }
.kboard-attr-row div.attr-value,.input_row,.input_cover {} /*input cover*/

.kboard-attr-row div.attr-value input[type="text"],
.input_row input[type="text"],.input_cover input[type="text"] { width: 100%; margin-right: -25px; border-bottom: 2px solid var(--border); display: inline-block;}
.input_row input[type="text"],.input_cover input[type="text"]:focus {border: 2px solid var(--point-rgb-color);}
input[type="submit"],.send {}
.checkbox_row,.ridio_box_row {}
textarea {width: 100%;   width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 1px solid var(--border); border-radius: 4px;
background-color: var(--bg-right-gray); resize: none; outline: none;}
input_row {}
.privacy_txt { height: 100px; text-overflow: ellipsis; overflow: auto; border: 1px solid var(--border); padding: 15px;}
.privacy_row { margin-bottom: 25px;}
.kboard-attr-row,.input_row label.checkbox_label {display: block;}
checkbox {display: inline-block;}
checkbox span {margin-right:8px;}
button[type="submit"] {background-color: var(--point2); padding: 15px 50px; color: var(--ft-white)!important; border-radius: 100px; transition: 0.3s;  font-weight: bold; font-size: 14px; letter-spacing: 2px;}
button[type="submit"]:hover {background-color: var(--point-color);}

span.attr-required-text { color:var(--point2);}
span.field-name {color:var(--ft-color);  margin-bottom: 8px; display: inline-block;}
label.attr-name {margin-bottom: 10px; display: inline-block; }
.btn_box {text-align: center;}
.admin_btn_box {text-align: right;}
/* overlay img */
.img_cover {width:100%; height: 350px; background-color: var(--bg-right-gray); position: relative; transition: 0.3s;}
.img_cover:after { background-color: rgba(0,0,0,.0);}
.img_cover:hover:after {position: absolute; content: ''; left:0; top:0; width: 100%; height: 100%; background-color:var(--point-rgb-color); transition: 0.3s;}

/* card 3분할 overlay 있는거*/
.card_cover { padding: 0 16px;}
.card { width:auto; height: auto; position: relative; overflow: hidden;}
.card .card_overlay { font-size: 18px; font-weight: bold; line-height: 1; padding: 8px 15px; background-color: var(--point-rgb-color); position: absolute; left:0 bottom:0; width: 100%; clip-path: polygon(0 0, 100% 0, 100% 29%, 0 46%); height: 150px; transition: 0.3s; }
.card:hover .card_overlay {height: 230px; clip-path: polygon(0 0, 100% 0, 100% 33%, 0 61%); }

/* border-line card & shodow*/
.border_card {border: 1px solid var(--border); border-radius: 4px; height:-webkit-calc(var(--max-width)/5.5); height:calc(var(--max-width)/5.5); width: 100%; position: relative; padding: 25px;}
.border_card:hover {box-shadow: 3px 6px 0px 0px var(--border);}
.border_card span.q {position: absolute;  display: inline-block; width: 35px; line-height: 35px; text-align: center; background-color: var(--ft-color); color:var(--bg-right-gray); transform: translate(-40%,-40%); left:0; top:0;}
.border_card h3 {color: var(--ft-color); font-family: 'Nanum Gothic'; font-size: 18px; margin: 15px 0;}
.border_card .icon_cover {position: absolute; bottom: 10px; right:10px;}
.border_card .icon_cover i {color:var(--sub-green);}

/* after,befor,bg 3layer_card */
.layer_imgBox {height: 460px; position: relative; z-index: 10;}
.layer_imgBox{background-color: var(--bg-right-gray);  max-width: 380px; line-height: 460px; background:  linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url('../images/grow_right.jpg') no-repeat center/cover; position: relative; transition: .4s; z-index: 10;}
.layer_imgBox:after {content: ''; position: absolute; right: -15px; top: 10px; width: 100%; height:100%; border: 4px solid var(--point-rgb-color); z-index: -1; /*transform: skew(-2deg, -3deg);*/ transition: .3s;}
.layer_imgBox:before {content: ''; position: absolute; left:-30px; top:-25px; width: 100%; height:100%; z-index: 2; background:url('../images/dot-bg.png') repeat center;  transition: .3s; z-index:5; opacity: 0.6;}
.layer_imgBox.layer_list {background:none; background-color: #eee; height: 260px; width: 100%;}
img.layer_imgBox.layer_list {width: 100%; display: inline-block;}
.layer_imgBox.layer_list:after {display: none;}
.layer_imgBox.layer_list:before {left:-30px; top:-25px;}

/* sub_page_showcase */
/*css 소스 예:
.sub_page_showcase.aubout_showcase :background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('images/aboutus/aboutus_showcase.jpg') no-repeat center/cover; */
.sub_page_showcase {width: 100%; height: 350px; overflow: hidden;  text-transform: uppercase; text-align: center; display: table;}
.sub_page_showcase .inner {display: table-cell; vertical-align: middle; color:var(--bg-right-gray);}
.sub_page_showcase h2 {margin: 8px; font-size: 24px;}
/* .sub_page_showcase p .dash {margin: 0 8px; font-weight: bold;} */
.sub_page_showcase p {font-family: 'Patua One' !important; color:var(--point-color) !important;  font-size: 18px;}
.sub_page_showcase h2,.sub_page_showcase h2 p {color:inherit !important;}

/* root site 걍로 */
.root_cover {position: relative;}
.root {height: 50px; width: 100%; background-color: rgba(0,0,0,.8); position: absolute; bottom:0; left:0; }
.root ul {margin: 0 auto; max-width: var(--max-width); border-left: 1px solid var(--opacity-white-line); border-right: 1px solid var(--opacity-white-line); overflow: hidden;}
.root ul li {line-height: 50px; color:var(--bg-right-gray); font-size: 16px; text-align: left !important; float: left; padding: 0 20px; border-right: 1px solid var(--opacity-white-line);}
.root ul li a {color:rgba(255,255,255,0.65); transition: .3s;}
.root ul li a:hover {color:rgba(255,255,255,0.9);}
.root ul li i {color:inherit; display: inline-block; margin-right: 8px;}
