
/* ------------------------------- input --------------------------- */
/* 필수로 필요한 css , 선택은 선택사항 */
/*다른곳에 있다면 바꾸거나 지우기)*/
 :root {
   --input-point:#777;
   --label-point:#0c1217;
   --notice-border:#29eb65;
   --notice-input-border-color:#ccc;
   --notice-heading-bg:#f6f6f6;
   --notice-heading-border-top:#29eb65;
   --notice-heading-border-bottom:#888;
   --notice-heading-ft-color:#29eb65;
   --notice-row-border:#e3e3e3;
   --notice-row-padding: 20px;;

 }
/*다른곳에 있다면 바꾸거나 지우기)*/

.input_fields,section.input_fields {margin: 0 auto;}
.input_fields:after {content: ''; display: block; overflow: hidden; clear: both; display: table;}
.input_border {border-bottom: 1px solid #ccc;}
.input_wide {width: 100%;}
.input_row{ max-width: 100%; margin-bottom: 30px; line-height:1!important; padding: 0 15px 30px 15px;}
.input_row[class*="align_"] {display: block!important;}
.input_row.align_center {margin: 0 auto;}
.input_row.align_right {text-align: right;}
.input_row.align_left {text-align: left;}
.input_row.radio_row {display:table; }

/* input custom reset 필수*/
button {border:none; background: none; cursor: pointer;}
input,textarea {border:none; border-bottom:2px solid var(--notice-input-border-color); height: 40px; background-color:#fafafa; padding: 10px; outline: none; display:inline-block; width:100%;}
textarea {resize: none; min-height: 150px;}
input:focus { border-bottom: 3px solid var(--input-point);}
textarea:focus{border-color: var(--input-point);}
input[type="radio"] {-webkit-appearance: none;  -moz-appearance: none; appearance: none;}

/* input label align 필수*/
.label_inner,label > span {margin-bottom: 10px; margin-left: 8px; display:block; width: 100%; position: relative; font-size: 18px; font-weight: bold; line-height: 1 !important;}
.label_inner_inline { display: inline; margin-bottom: 10px; margin-left: 8px; position: relative; font-size: 18px; font-weight: bold; margin-right: 8px;}
/* input label deco  선택 */
.label_inner:after,.label_inner_inline:after {content:''; width: 3px; height: 100%; background: var(--label-point); position: absolute; top:0; left: -8px; z-index: 3;}

/* input layout 선택*/
.input_fields {display: flex; flex-wrap: wrap; margin-left: -15px; margin-right:15px;
  box-sizing: border-box; display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex: 0 1 auto; -webkit-box-flex: 0;
  flex: 0 1 auto; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap;flex-wrap: wrap;}
.input_row[class*="devide_"] {display: inline-block;  font-size: 0; overflow: hidden;}
.input_row.devide_2 {width: 50%; flex-basis: 50%;} .input_row.devide_3 {width: 33.333%; flex-basis: 33.3333%;}
.input_row[class*="devide_"] > div, .input_row[class*="devide_"] > span, .input_row[class*="devide_"] > label {width: 100%:}

/* input label,font,input custom (셀렉트포함, 라디오박스 포함) 선택*/
.input_row label,.input_row label .label_inner{position: relative;}
.input_row label select,.input_row select {border: 1px solid #ddd; line-height: 40px; padding: 10px 20px; color:#333; background-color:#fafafa; outline: none; position: relative; position:relative;}
.input_row label select option {font-size: 18px; color:inherit; padding: 15px 20px; font-weight: normal; margin-bottom: 8px; position: relative;}
/* radio*/
input[type="radio"] {width: 15px; height: 15px; border: 1px solid #ddd; position: relative; border-radius: 50%; box-sizing: content-box; padding: 3px;  vertical-align: middle; vertical-align: middle; line-height: 1 !important;}
input[type="radio"]:checked,input[type="radio"]:focus {}
input[type="radio"]:checked:before,input[type="radio"]:focus:before
{content:''; display: inline-block; width: 100%; height: 100%; background-color: var(--input-point); border-radius: 50%; width: 70%; height: 70%; position: absolute; top:0; left:0; top: 15%; left: 15%;}
input[type="radio"]+span {display: inline-block; padding: 0 15px 0 5px;vertical-align: middle; line-height: 1!important;position: relative; top: 2px;}

/* privacy 약관 선택 */
.privacy_txt { height: 100px; text-overflow: ellipsis; overflow: auto; border: 1px solid #e3e3e3; padding: 15px;}
.privacy_row { padding: 10px; margin: var(--container-paddiing); margin-bottom: 30px;}

/* 기본 kboard용 선택 */
/* .kboard-attr-row {margin:0 5%; padding-bottom: 30px; max-width: 100%; margin-bottom: 30px;}
label > span  {display: inline-block; width: auto; line-height: 1 !important;}
label > span+span { display: inline; width: auto; line-height: 1 !important;}
br {display: block; width: 100%;} */

@media (max-width:900px) {
  .input_fields {display: block; margin: 0 auto; padding: 0 5%;}
  .input_row {width: 100%;}
  .input_row.devide_2 {width: 100%;} .input_row.devide_3 {width: 100%;}
}

/* ------------------------------- input --------------------------- */


/* input SearchBar */
.notice_board .input_row.search_bar  {vertical-align: middle;}
.notice_board .input_row.search_bar select {max-width: 30%; max-width: 150px;}
.notice_board .input_row.search_bar input{ max-width: 40%; margin: 0 3%; position: relative; top:-5px;}
.notice_board .input_row.search_bar input:hover,.notice_board .search_bar input:focus {border-width: 2px;}
.notice_board .input_row.search_bar button[type="submit"]{outline: none; color: var(--notice-heading-border-bottom); font-weight: bold; border:2px solid #ddd; height: 39px; display: inline-block; padding: 0 2%;}
.notice_board .input_row.search_bar button[type="submit"] i {font-weight: bold; color:inherit;}

/* 공통 헤더 (검색 정렬) */
#global_list p,#global_list a,#global_list span{font-family: 'Nanum Gothic'; }
#global_list h1,h2,h3,h4,h5,h6 { font-family: 'NanumSquare';}
.global_list_header {width: 100%; overflow: hidden; position: relative; display: flex; justify-content: space-between; border-bottom: 1px solid var(--Border); padding: 10px 15px; background-color:var(--bg-right-gray); border-bottom: 1px solid var(--bg-dark-gray); border-top:2px solid var(--bg-dark-black);}
.global_list_header > div {line-height: 30px;}
.global_list_header > div.global_total_count_box { font-weight: bold; font-size: 14px; font-family: 'Nanum Gothic'; }
.global_list_header > div.global_search_box {position: absolute; left:50%; top:0; transform: translate(-50%,-50%); margin-top: 20px;}
.global_list_header > div.global_search_box button {background-color: #fff; border:1px solid var(--border); position: relative; top:1px;}
.global_list_header > div.global_search_box form{ height: 100%;}
.global_list_header > div.global_search_box select{ border: 1px solid var(--border); height: 30px; font-size: 16px; width: 90px;padding-left: 15px; outline: none; font-size: 14px;}
.global_list_header > div.global_search_box input {border: 1px solid var(--border); height: 30px; font-size: 16px; width: 190px;outline: none; padding: 0 15px;}
.global_list_header > div.global_sort_box select { border: 1px solid var(--border); height: 30px; font-size: 16px; width: 100px;padding-left: 15px; outline: none; font-size: 14px;}

/* 공통 카테고리  align*/
div.solid_cate_cover { max-width: 1000px; margin: 0 auto; margin-bottom: 30px;}
div.solid_cate_cover ul.solid_cate {/* background-color: var(--bg-right-gray);*/ display: flex;}
div.solid_cate_cover ul.solid_cate li {flex-grow: 1; text-align: center; border-bottom: 3px solid var(--ft-white); }
div.solid_cate_cover ul.solid_cate li.active {background-color: var(--point2);}
div.solid_cate_cover ul.solid_cate li a {display: inline-block; padding: 15px 20px; font-weight: bold;}
@media (max-width:900px) {
  div.solid_cate_cover ul.solid_cate {flex-wrap: wrap;}
  div.solid_cate_cover ul.solid_cate li {width:50%;}
}

 /* 공통 pageNatin */
 .global_pagination { width: 100%; text-align: center; margin-top: 50px;}
 .global_pagination ul {display: inline-block; padding: 20px 0; color:var(--notice-heading-border-bottom); font-weight: bold;}
 .global_pagination ul li{float: left; width: 30px; height: 30px; text-align: center;  margin: 0 4px; border: 2px solid var(--border);}
 .global_pagination ul li > a {display: inline-block; font-weight: 400; vertical-align: text-top;  color:var(--notice-heading-border-bottom); font-weight: bold;}
 .global_pagination ul li.active {border: 1px solid var(--point-color) !important; background-color: var(--point-color);}
 .global_pagination ul li.active a {color: #fff; font-weight: bold;}
 .global_pagination ul li.next-page,.global_pagination li.prev-page {display: none;}
 .global_pagination ul li.first-page,.global_pagination li.last-page { line-height: 30px; padding: 0 15px; width: auto;}
 .global_pagination ul li.last-page a { vertical-align: inherit;}
 .global_pagination ul li.first-page a {vertical-align: baseline;}
 .global_control {text-align: right;}

  /* glrobal_document detail*/
  .global_document {}
  .global_document_heading {}
  .global_document_heading p.date {line-height: 1; padding: 4px 10px;text-align: right; background-color: var(--point-color); font-weight: bold; color:#fff;}
  .global_document_heading p.date span {font-size: 14px; color:var(--ft-color);}
  .global_document_heading h3.tit,p.tit {font-size: 26px; font-weight: bold; padding: 15px 10px; border-bottom: 2px solid var(--border); color: var(--dark-black);}
  .global_document_heading p.auther {font-weight: bold; line-height: 1; padding: 6px 10px; border-bottom: 1px solid var(--border); font-size: 14px; overflow: hidden; }
  .global_document_heading p.auther {content: ''; clear:both; display: block; overflow: hidden;}
  .global_document_heading p.auther span {font-size: 14px;}
  .global_document_heading p.auther span:first-child {float: left;}
  .global_document_heading p.auther span:last-child { display: inline-block; float: right;}

  .global_document_conts {padding: 15px 0 60px 0; min-height: 300px; border-bottom: 1px solid var(--border);}
  .global_document_conts .textarea {padding: 15px 8px;}
  .global_imgBox img {max-height: 300px; min-height: 150px;}
  .global_imgBox {height: auto;}

  .global_docuent_more_row { border-top: 2px solid #353535; border-bottom: 2px solid #ccc;  padding: 20px 0;}
  .global_docuent_more_row:after {content: ''; clear:both; display: block; overflow: hidden;}
  .global_docuent_more_row div[class*="more_col"] {width:50%; position: relative;}
  .global_docuent_more_row div[class*="more_col"] a {display: inline-block; color:var(--sub-color) !important}
  .global_docuent_more_row div[class*="more_col"] a > i {display: inline-block; ; border:2px solid var(--sub-color); text-align: center; font-weight: bold; padding: 8px; }
  .global_docuent_more_row div.more_col_left a + p[class*="_item"],
  .global_docuent_more_row div.more_col_right p[class*="_item"] { display: inline-block; font-weight: bold; font-size: 16px;}
  .global_docuent_more_row div.more_col_left {float: left; text-align: left;}
  .global_docuent_more_row div.more_col_right {float: right; text-align: right;}
  .global_docuent_more_row div.more_col_left a {margin-right:15px;}
  .global_docuent_more_row div.more_col_right a { margin-left: 15px;}

/* 공통 btn */
.user_btns {text-align: center; margin: 50px 0; text-align: center;}
.admin_btns {text-align: right; border-top: 1px solid var(--border); padding: 25px 0;}

 /* ***************************************************************************************************************** */

/* gallery list  */
div.gallery_list_2 {}
div.gallery_list_2 ul { overflow: hidden;}
div.gallery_list_2 > ul > li { list-style: none; width: 48%; margin-bottom: 30px;}
div.gallery_list_2 > ul > li:nth-child(odd) {float: left;}
div.gallery_list_2 > ul > li:nth-child(even) {float: right;}
div.gallery_list_2 > ul > li h3  {font-size: 20px; padding: 15px 0;}
@media (max-width:900px) {
  div.gallery_list_2 > ul > li { width: 80%; margin-left: 10%;}
  div.gallery_list_2 > ul > li:nth-child(odd),div.gallery_list_2 > ul > li:nth-child(even) {float: none;}
}

/* gallery effect */
main.gallery div.solid_cate_cover .line_down:after {bottom: 50%; transform: translateY(50%);}
main.gallery>ul>li {display: block; width: 90%; margin: 0 auto;}

/* QNA page */
main.qna_content,div.qna_content {transition: .2s; }
.qna {}
.qna ul.acodian_list { max-width: 1000px; margin: 0 auto;}
.qna ul.acodian_list li {position: relative;}
.qna ul.acodian_list li > a {display: inline-block; width: 100%; height: 100%; border-bottom:  1px solid var(--border);}
.qna ul.acodian_list li a span {font-size: 25px; font-weight: bold; color:var(--point-color); display: inline-block; margin: 0 20px; line-height: 55px;}
.qna ul.acodian_list li a h3 {display: inline-block; font-size: 20px; vertical-align: baseline;}
.qna ul.acodian_list li a i { font-size: 20px; float: right; display: block; position: absolute; right:0; top:20px; margin-right: 20px;}
.qna ul.acodian_list li div.acodian_pannel {padding: 0 20px; background-color: #fafafa; overflow: hidden; height: 0; transition: .3s ease; }
/* acodian_active */
.qna ul.acodian_list li.active { border-bottom:  1px solid var(--border); }
.qna ul.acodian_list li.active div.acodian_pannel {height: 100%;  padding: 20px 20px; height: auto;}

/* notice board  */
main.notice_page {}
.notice_board .notice_board_row span,.notice_board .notice_board_row a{ color: inherit;}
.notice_board {max-width: var(--max-width); margin: 0 auto;}
.notice_board  .notice_board_row { display: table; width: 100%; position: relative;}
.notice_board .notice_board_row > span,.notice_board .notice_board_row > div { display: table-cell; vertical-align: middle; color:#656565; font-weight: bold;}
.notice_board .notice_board_row span:first-child,.notice_board .notice_board_row div:first-child { width:15%; text-align: center; position: relative; }
.notice_board .notice_board_row span:nth-child(2),.notice_board .notice_board_row div:nth-child(2) { width: 70%; font-weight: 600;}
.notice_board .notice_board_row span:last-child {width: 15%; text-align: center; font-size: 14px; letter-spacing: -0.5px ;  font-weight: 600;}
.notice_board .notice_board_row.notice_board_heading { padding: var(--notice-row-padding);background: var(--notice-heading-bg); border-top: 2px solid var(--notice-heading-border-top); border-bottom: 2px solid var(--notice-heading-border-bottom); font-weight: bold; text-align: center;font-weight: bold;}

.notice_board > ul >{}
.notice_board > ul > li {border-bottom: 1px solid var(--border); padding:var(--notice-row-padding);}
.notice_board > ul > li.admin_notice {background: var(--input-point);}
.notice_board > ul > li.admin_notice .admin_tag { background-color: #ff3860; font-size: 12px; border-radius: 4px; display: inline; padding: 3px 9px; color:var(--bg-right-gray); margin-right: 8px;}
.notice_board > ul > li .new_tag {background-color: #209cee; font-size: 12px; border-radius: 4px; display: inline; padding: 3px 9px; color:var(--bg-right-gray); margin-right: 8px;}
.notice_board > ul > li:hover:not(.admin_notice){ background-color: #fafafa;}
.notice_board > ul > li.active {background: #fafafa;}
.notice_board > ul > li.active span:nth-child(2),.notice_board > ul > li:hover span:nth-child(2) { color:var(--dark-black);}
.notice_board .notice_board_row:not(.notice_board_heading) span:first-child:before {content: '0'; z-index: 3; }

/* notice board + img (썸네일 추가) */
.notice_board.img_board .img_board_img { width: 170px; height: 170px; position: relative; overflow: hidden; display: inline-block;}
.notice_board.img_board .img_board_img  img{ width: 100%; height: 100%;}
.notice_board.img_board .notice_board_row span.notice_board_tit {width: 400px;}
/* notice board + img (썸네일 추가) + magazin_board (제목 여러줄)*/
.notice_board.img_board.magazin_board .img_board_img {width: 350px; height: 200px;}
.notice_board.img_board.magazin_board  p.magazin_board_sub {font-family: 'Patua One' !important; color:var(--point-color) !important;}
.notice_board.img_board.magazin_board  h3.magazin_board_tit {font-size: 18px; font-weight: bold; line-height: 1.5; font-family: 'NanumSquare'; margin: 8px 0; letter-spacing: 1px;}
.notice_board.img_board.magazin_board .notice_board_row span:last-child { width: 110px;}
.notice_board.img_board.magazin_board .notice_board_row > div { width: 350px;}

  /* media Query css 마지막에 있어야함*/
  @media (max-width:900px) {
    .notice_board  {}
    .notice_board .notice_board_heading  {text-align: left;}
    .notice_board .notice_board_row.notice_board_heading  {}
    .notice_board .notice_board_row {display: inline-block; overflow: hidden;}
    .notice_board .notice_board_row > span,.notice_board .notice_board_row > div { float: left;}
    .notice_board .notice_board_row span:first-child {margin-right: 20px;}
    .notice_board .notice_board_row span:first-child,.notice_board .notice_board_heading span:first-child { max-width:15%;}
    .notice_board .notice_board_row span:nth-child(2) {width:75%; text-overflow: ellipsis;}
    .notice_board .notice_board_row span:last-child,.notice_board .notice_board_row span:last-child {max-width: 15%;}

    .notice_board.img_board .notice_board_row {}
    .notice_board.img_board .notice_board_row.notice_board_heading span:nth-child(3){ display: none;}
    .notice_board.img_board .notice_board_row.notice_board_heading {text-align: center;}
    .notice_board.img_board .notice_board_row.notice_board_heading span:nth-child(2){ display: inline-block; width: 100%;}
    .notice_board.img_board .notice_board_row span:first-child { display: none;}
    .notice_board.img_board .notice_board_row span:nth-child(2) {display: inline-block; width: 100%:}
    .notice_board.img_board .notice_board_row span:last-child,.notice_board .notice_board_row span:last-child {display: none;}
    .notice_board.img_board .img_board_img { text-align: center; display: block; width: 100%;}
    .notice_board.img_board .img_board_img  img{ max-width: 280px; height: 100%; display:inline-block;}
    .notice_board.img_board .notice_board_row span.notice_board_tit {width: 400px; font-weight: bold; padding-top: 10px;}

    .notice_board.img_board.magazin_board .notice_board_row > div  { width: 100%; background:#fff; }

    .global_pagination {margin: 25px 0;}
    .global_pagination ul {text-align: center;}
    .global_pagination ul li {display: inline-block; b}
    .global_pagination ul li.first-page,.global_pagination li.last-page {display: inline-block; padding: 0 10px;}
    .global_document {padding: 0 5%;}

      /* search_bar */
      .notice_board .input_row.search_bar,.notice_page .input_row {margin-bottom: 0;}
      .notice_board .align_right select {display: none;}
      .notice_board .input_row.search_bar select {max-width: 100%; width: 100%; margin-bottom: 20px; }
      .notice_board .input_row.search_bar input { max-width: 70%; margin: 0; margin-right: 4%;}
      .notice_board .input_row.search_bar button[type="submit"] {width: 25%;}

  }
