
/* ==== GRID SYSTEM ==== */
/* .container {width: 90%;margin-left: auto;margin-right: auto;} */
.grid_row {position: relative; width: 100%;}
.grid_row [class^="col"] {float: left; margin: 0.5rem 2%; min-height: 0.125rem;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {width: 96%;}
.col-1-sm {width: 4.33%;}
.col-2-sm {width: 12.66%;}
.col-3-sm {width: 21%;}
.col-4-sm {width: 29.33%;}
.col-5-sm {width: 37.66%;}
.col-6-sm {width: 46%;}
.col-7-sm {width: 54.33%;}
.col-8-sm {width: 62.66%;}
.col-9-sm {width: 71%;}
.col-10-sm {width: 79.33%;}
.col-11-sm {width: 87.66%;}
.col-12-sm {width: 96%;}
.grid_row::after {content: ""; display: table; clear: both;}
.hidden-sm {display: none;}
@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {width: 4.33%;}
  .col-2 {width: 12.66%;}
  .col-3 {width: 21%;}
  .col-4 {width: 29.33%;}
  .col-5 {width: 37.66%;}
  .col-6 {width: 46%;}
  .col-7 {width: 54.33%;}
  .col-8 {width: 62.66%;}
  .col-9 {width: 71%;}
  .col-10 {width: 79.33%;}
  .col-11 {width: 87.66%;}
  .col-12 {width: 96%;}
  .hidden-sm {display: block;}
}

.flex_row {
  box-sizing: border-box; display: -ms-flexbox; display: -webkit-box; display: flex;
  -ms-flex: 0 1 auto; -webkit-box-flex: 0;
  flex: 0 1 auto; -ms-flex-direction: row;
  -webkit-box-orient: horizontal; -webkit-box-direction: normal;
  flex-direction: row; -ms-flex-wrap: wrap;flex-wrap: wrap;
  /* 중요 */margin-right: -13px; margin-left: -13px;}
.flex_row [class^="col"] {margin: 0 13px;}
/* row 예제
flex-basis: 33.333%; max-width: 33.333%;
.col-lg-offset-9 { margin-left: 75%;}
 */
/*
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
 */
.float_row {}
.float_row:after {content: ""; display: table; clear: both; clear: both; overflow: hidden;}
.float_row > .left,.float_row > .right {width: 50%; float: left;}
@media (max-width:720px) {
  .float_row > .left,.float_row > .right,.float_row > div {float: none; width: 100%; height: auto;}
}
