
/* ==== GRID SYSTEM ==== */
/* .container {width: 90%;margin-left: auto;margin-right: auto;} */
.grid_row {position: relative; width: 100%;}
.grid_row [class^="col"] {float: left; margin: 0.5rem 2%; min-height: 0.125rem;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {width: 96%;}
.col-1-sm {width: 4.33%;}
.col-2-sm {width: 12.66%;}
.col-3-sm {width: 21%;}
.col-4-sm {width: 29.33%;}
.col-5-sm {width: 37.66%;}
.col-6-sm {width: 46%;}
.col-7-sm {width: 54.33%;}
.col-8-sm {width: 62.66%;}
.col-9-sm {width: 71%;}
.col-10-sm {width: 79.33%;}
.col-11-sm {width: 87.66%;}
.col-12-sm {width: 96%;}
.grid_row::after {content: ""; display: table; clear: both;}
.hidden-sm {display: none;}
@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {width: 4.33%;}
  .col-2 {width: 12.66%;}
  .col-3 {width: 21%;}
  .col-4 {width: 29.33%;}
  .col-5 {width: 37.66%;}
  .col-6 {width: 46%;}
  .col-7 {width: 54.33%;}
  .col-8 {width: 62.66%;}
  .col-9 {width: 71%;}
  .col-10 {width: 79.33%;}
  .col-11 {width: 87.66%;}
  .col-12 {width: 96%;}
  .hidden-sm {display: block;}
}

.flex_row {
  box-sizing: border-box; display: -ms-flexbox; display: -webkit-box; display: flex;
  -ms-flex: 0 1 auto; -webkit-box-flex: 0;
  flex: 0 1 auto; -ms-flex-direction: row;
  -webkit-box-orient: horizontal; -webkit-box-direction: normal;
  flex-direction: row; -ms-flex-wrap: wrap;flex-wrap: wrap;
  /* 중요 */margin-right: -13px; margin-left: -13px;}
.flex_row [class^="col"] {margin: 0 13px;}
/* row 예제
flex-basis: 33.333%; max-width: 33.333%;
.col-lg-offset-9 { margin-left: 75%;}
 */
/*
-ms-flex-align: start;
-webkit-box-align: start;
align-items: flex-start;
 */

.layout_float {}
.layout_float:after {content: ""; display: table; clear: both; clear: both; overflow: hidden;}
.layout_float > div,.layout_float > li {float: left; width: 50%; position: relative;}
@media (max-width:720px) {
  .layout_float > div,.layout_float > li {float: none; width: 100% !important; height: auto;}
}

/* ********* layout *********** */
:root { --lay-padding:13px; --lay-margin2:-13px; --lay-height: 260px; }
/* 음수 마진 레이아웃 2칸짤 (컨테이너 필요)*/
.wide_width {}
.layout_cover2 ,ul.layout_cover2 {overflow: hidden; margin: 0 var(--lay-margin2);}
.layout_cover2 > div,ul.layout_cover2 li {width: 50%; float: left; padding: var(--lay-padding);}
.layout_cover2 > div,ul.layout_cover2 li {}
/* 음수 마진 레이아웃 3칸짤 (컨테이너 필요)*/
.wide_width {}
.layout_cover3{overflow: hidden; margin: 0 var(--lay-margin2);}
.layout_cover3 > div,.layout_cover3 > li {width: 33.33333%; float: left; padding: var(--lay-padding);}
.layout_cover3 > div,ul.layout_cover3 > li {}
/* 음수 마진 레이아웃 4칸짤 (컨테이너 필요)*/
.wide_width {}
.layout_cover4,ul.layout_cover4 {overflow: hidden; margin: 0 var(--lay-margin2);}
.layout_cover4 > div,ul.layout_cover4 > li {width: 25%; float: left; padding: var(--lay-padding);}
.layout_cover4 > div,ul.layout_cover4 > li {}
@media (max-width:900px) {
.layout_cover2,.layout_cover3,.layout_cover4, {margin: 0; padding: 0 5%;}
.layout_cover2 > div,.layout_cover3 > div,.layout_cover4 > div
.layout_cover2 > li,.layout_cover3 > li,ul.layout_cover4 li
 {float: none; width: 100%; margin-bottom: 3%;}
}
/********** layour ************/

/* sub_page layout*/
.sub_layout {margin-top: 30px; overflow: hidden; border-bottom: 1px solid var(--border);}
.sub_layout:last-child {border-bottom: none;}
.sub_layout:first-child {border-bottom: 1px solid var(--border); }
.sub_layout .sub_layout_left {width: 320px; float: left;}
.sub_layout .sub_layout_right {padding-left: 320px; width: 100%;}
/* sub_page layout heding*/
.sub_layout h4 {font-size: 20px; margin-bottom: 20px; color:var(--dark-black);}
.sub_layout p {margin-bottom: 8px;}
/* sub_page layout*/

@media (max-width:900px) {
  .sub_layout {padding: 30px 5% !important;}
  .sub_layout .sub_layout_left {float: none; display: none; width: 100%; padding-right:0;}
  .sub_layout .sub_layout_right { padding-left: 0; }
}
